/* GRID DEFINITIONS */
.container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 15% 28% 1fr ;
}


.header {
    grid-column: 2;
    grid-row: 1 ;
    background-color: lightskyblue;
}

.notes-list {
    grid-row: 3 ;
    grid-column: 2;
    background-color: yellow;
}

.add-note {
    grid-row:2;
    grid-column: 2;
    background-color: lightseagreen;
}

.add-button {
    display: inline;
    border: 5px solid red;
    font-size: 36px;
}


/* NOTES STYLES */ 

.note-completed {
    text-decoration: line-through;
}

.todo-item {
    display: flex;
    align-content: center;
    align-items: center;
}

.todo-item p{
    margin: 0 .5rem;
}